a {
    cursor: pointer;
    color: inherit;
}
a, a:active, a:hover, a:focus, a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

article {
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}

pre {
    white-space: pre-wrap;
}