<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>疯狂蜗牛</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/article.css">
    
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    
</head><body><header>
    <div class="container">
        <a href="/" class="site-title">疯狂蜗牛</a>
        <nav>
            <ul>
                
                
                <li>
                    <a href="/tags/">标签</a>
                </li>
                
                <li>
                    <a href="/categories/">分类</a>
                </li>
                
                <li>
                    <a href="/about/">关于</a>
                </li>
                
            </ul>
        </nav>
    </div>
</header><div class="content">
<article>
    <div class="front-matter">
        <div class="title">网页布局</div>
        <div class="other-info">
            <span class="author"></span>
            <span class="date">发起于：2021-00-00</span>
            <span class="lastmod">最近编辑于：2021-08-21</span>
        </div>
    </div>
    <h2 id="flex">flex</h2>
<p>flexbox 是一种一维的布局模型, 这里的一维是指一次只能处理一个维度上的元素布局, 一行或一列 (grid 属于二维布局).</p>
<h3 id="两根轴线">两根轴线</h3>
<p>当使用 flex 布局时, 首先要想到的就是两根轴线 &mdash; 主轴 (main axis) 和交叉轴 (cross axis). 主轴由属性 <code>flex-direction</code> 定义, 交叉轴垂直于他.</p>
<p><code>flex-direction</code> 可以取 4 个值:</p>
<ul>
<li>row</li>
<li>row-reverse</li>
<li>column</li>
<li>column-reverse</li>
</ul>
<p>前两个值代表主轴延水平方向, 后两个值代表主轴延上下方向.</p>

</article>

        </div></body>
</html>
